@import "./../../assets/functions.scss";

.marvel-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: rem(50);
  flex: 1;
}
.marvel-detail-header {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    bottom: -24px;
    right: -24px;
    width: 48px;
    height: 48px;
    background: var(--color-primary);
    transform: rotate(45deg);
  }
}
.marvel-detail-image_container {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.marvel-detail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.marvel-detail-txt {
  overflow: hidden;
  padding: var(--padding);
  width: 100%;
}
.marvel-detail-title {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  gap: var(--padding);
  .marvel-fav-icon {
    width: rem(24);
    height: rem(24);
  }
}
.marvel-detail-title-txt {
  flex: 1;
}
.marvel-detail-description {
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: 1.1875;
}

.marvel-detail-no-content {
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.marvel-detail-no-content {
  font-size: var(--font-size-l);
}

@media screen and (min-width: rem(580)) {
  .marvel-detail-items-title {
    font-size: var(--font-size-xl);
  }
  .marvel-detail-header-container {
    display: flex;
    align-items: center;
  }
  .marvel-detail-image_container {
    max-width: rem(320);
  }
  .marvel-detail-txt {
    padding: var(--padding);
  }
  .marvel-detail-title {
    font-size: var(--font-size-xxl);
  }
}
@media screen and (min-width: rem(1024)) {
  .marvel-detail-txt {
    padding: var(--padding) 0 var(--padding) rem(48);
  }
}
