@import "./../../assets/functions.scss";

.marvel-detail-content {
  margin: rem(25) 0;
}
.marvel-detail-items-container {
  overflow-x: scroll;
  &::-webkit-scrollbar {
    height: rem(4);
    width: rem(4);
    background: var(--color-gray);
  }
  &::-webkit-scrollbar-thumb:horizontal {
    background: var(--color-accent);
  }
}
.marvel-detail-items-title {
  font-size: var(--font-size-l);
  text-transform: uppercase;
  margin: rem(25) 0;
}
.marvel-detail-items {
  display: flex;
  gap: var(--padding);
  margin-bottom: rem(24);
}
.marvel-detail-item-link {
  text-decoration: none;
  color: var(--color-secondary);
}
.marvel-detail-item {
  flex: 0 0 rem(180);
  overflow: hidden;
}
.marvel-detail-item-img_container {
  aspect-ratio: 1 / 1.5;
  overflow: hidden;
}
.marvel-detail-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.marvel-detail-item-title {
  font-weight: 500;
  margin: rem(8) 0;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.marvel-detail-item-year {
  font-size: var(--font-size-s);
}

@media screen and (min-width: rem(580)) {
  .marvel-detail-items-title {
    font-size: var(--font-size-xl);
  }
}
