@import "./../../assets/functions.scss";

.marvel-characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(160), 1fr));
  grid-template-rows: auto;
  padding: var(--padding-s);
  width: 100%;
}

.marvel-character-item {
  padding: var(--padding-s);
  display: flex;
  text-align: start;
}
.marvel-character-link,
.marvel-character {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.marvel-character-link {
  text-decoration: none;
}
.marvel-character-img_container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1.12;
}

.marvel-character-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marvel-character-bottom {
  background-color: var(--color-secondary);
  flex: 1;
  padding: var(--padding);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  * {
    z-index: 1;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: var(--color-accent);
    transform: translateY(calc(-100% + 5px));
    transition: all var(--transition-duration) ease;
    z-index: 0;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    background: var(--color-primary);
    transform: rotate(45deg);
  }
}
.marvel-character-link:hover,
.marvel-character-link:focus-visible {
  outline: none;
  .marvel-character-bottom {
    &:before {
      transform: translateY(0%);
    }
  }
  .marvel-fav-icon__on {
    path {
      fill: var(--color-primary);
    }
  }
}
.marvel-character-name {
  margin: 0;
  color: var(--color-primary);
  font-size: var(--font-size-s);
  font-weight: 400;
  flex: 1;
}

.marvel-characters-skeleton {
  .marvel-character-img_container {
    aspect-ratio: 1 / 1.52;
    &:after {
      content: "";
      position: absolute;
      bottom: -12px;
      right: -12px;
      width: 24px;
      height: 24px;
      background: var(--color-primary);
      transform: rotate(45deg);
    }
  }
}

@media screen and (min-width: rem(420)) {
  .marvel-characters {
    grid-template-columns: repeat(auto-fill, minmax(rem(186), 1fr));
  }
}
@media screen and (min-width: rem(1024)) {
  .marvel-characters {
    padding: var(--padding-s) rem(40);
  }
}
