.marvel-fav-icon {
  display: block;
  path {
    transition: all var(--transition-duration) ease;
  }
}
.marvel-favBtn-badge {
  color: var(--color-primary);
  font-size: var(--font-size-m);
  text-decoration: none;
}
