:root {
  /* Colors */
  --color-primary: #fff;
  --color-secondary: #000;
  --color-accent: #ec1d24;
  --color-gray: #d9d9d9;
  /* Sizes */
  --padding: 1rem;
  --padding-s: 0.5rem;
  /* Fonts */
  --font-family: "Roboto Condensed", serif;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;
  /* Others */
  --transition-duration: 0.2s;
}
