:root {
  /* Colors */
  --color-primary: #fff;
  --color-secondary: #000;
  --color-accent: #ec1d24;
  /* Sizes */
  --padding: 1rem;
  --padding-s: 0.5rem;
  /* Fonts */
  --font-size-m: 1rem;
  --font-size-s: 0.875rem;
}
