@import "./assets/vars.scss";
@import "./assets/functions.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Common */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.marvel-app {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  * {
    box-sizing: border-box;
  }
}
.marvel-container {
  max-width: rem(960);
  margin: 0 auto;
}
.marvel-btn {
  padding: var(--padding-s) rem(32);
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius);
  color: var(--color-accent);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--font-size-m);
  text-transform: uppercase;
  transition: all var(--transition-duration) ease;
  background: white;
  font-family: var(--font-family);
  &:hover {
    background-color: var(--color-accent);
    color: var(--color-primary);
  }
}
.marvel-transparent-btn {
  margin: 0;
  padding: 0;
  width: auto;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 700;
}

/* End common */

.marvel-header {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: var(--padding);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: var(--padding);
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  .marvel-fav-icon {
    width: rem(24);
    height: rem(20);
    display: block;
  }
}
.marvel-header-favBtn {
  display: flex;
  align-items: center;
  gap: var(--padding-s);
  text-decoration: none;
  opacity: 1;
  transition: opacity var(--transition-duration) ease;
}
.marvel-header-favBtn__hide {
  opacity: 0;
  pointer-events: none;
}

.marvel-logo {
  display: block;
  width: rem(130);
}

.marvel-content {
  padding-top: rem(85);
  min-height: 100dvh;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.marvel-loading {
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: center;
}

.marvel-page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .marvel-header {
    padding: var(--padding) rem(48);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: fade-out 0.5s ease both;
}

::view-transition-new(root) {
  animation: fade-in 0.5s ease both;
}
